nav {
    margin-bottom: 10px;
}

nav a {
    color: beige;
}

.threads-container {
    background-color: darkslategrey;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}

.messages-container {
    background-color: darkslategrey;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px;
}