<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand">ChatWith ngrx/store</a>
    </div>
  </nav>


  <div class="container">


    <div class="row">

      <div class="col col-md-5 threads-container">

        <app-user-selection></app-user-selection>
        <app-thread-section></app-thread-section>

      </div>

      <div class="col offset-md-1 col-md-6 messages-container">

        <app-message-section></app-message-section>

      </div>

    </div>
  </div>

</div>
