:host {
    color: #010101;
    overflow: hidden;
}

.messages-list {
    overflow: scroll;
    height: 290px;
}

.list-group-item {
    overflow: hidden;
    p {
        margin: 2px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.participantName {
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.messageText {
            font-size: .8em;
        }
    }
    span {
        font-size: .8em;
        font-weight: 300;
    }
}